
{% extends "base.html" %}

{% load static %}

{% block content %}
  <!-- Este fragmento de código nos sirve para conservar la estructura de cómo se ve en el proyecto -->

  <!-- <div class="container">
    {% for producto in productos %}
      <section class="page-section clearfix">
        <div class="container">
          <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{ producto.imagen.url }}" alt="" style="width: 60%;">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-lower">{{ producto.nombre }}</span>
                <span class="section-heading-upper">{{ producto.categorias }}</span>
                <span class="section-heading-upper">{{ producto.precio }}</span>
              </h2>
            </div>
          </div>
        </div>
      </section>
    {% endfor %} -->

    <div class="container"> <!-- Apertura de container -->
      <div style="float: right;">
        <!-- <p style="color: white;">Total: ${{ import_total_carro }}</p> -->
        {% if request.user.is_authenticated %}
          {% include 'carro/widget.html' %} <!-- Sirve para relacionar el widget.html con la plantilla tienda.html -->
        {% else %}
          <span class="alert alert-danger text-center">Debe loguearse :]</span>
        {% endif %}
      </div>
      <div class="row"> <!-- Apertura de filas -->
        {% for producto in productos %}
          <div class="col-md-3" style="margin: 10px 10px;"> <!-- Apertura de columnas -->
            <div class="card" style="width: 100%; text-align: center;"> <!-- Clase card de Bootstrap apertura -->
              <img src="{{ producto.imagen.url }}">
              <div class="card-body">
                <h6 class="card-title" style="font-weight: bold;">{{ producto.categorias }}</h6>
                <h6 class="card-title">{{ producto.nombre }}</h6>
                <p class="text">$&nbsp;{{ producto.precio }}</p>
              </div>
              <div class="card-footer text-center">
                <a href="{% url 'carro:agregar' producto.id %}" class="btn btn-success" style="background-color: rgba(24, 64, 8, 0.8);"> <i class="bi bi-cart4"></i>Añadir al carrito</a>
              </div>
            </div> <!-- Cierre card -->
          </div> <!-- Cierre de columnas -->
        {% endfor %}
      </div> <!-- Cierre de filas -->
    </div><!-- Cierre container -->

    

    <!-- <div class="row">
      {% for producto in productos %}
        <div class="col-md-4">
          <div class="card" style="width: 100%; margin: 5px 5px;">
            <img src="{{ producto.imagen.url }}" class="card-img-top">
            <div class="card-body" style="text-align: center;">
              <h7 class="card-title">{{ producto.nombre }}</h7>
              <p class="card-text">{{ producto.precio }}</p>
            </div>
            <div class="card-footer text-center">
              <a href="{% url 'carro:agregar' producto.id %}" class="btn btn-success" style="background-color: green; color: white;">Agregar al carrito</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div> -->
  {% endblock %}


<!-- 
Este fragmento de código nos sirve para conservar la estructura de cómo se ve en el proyecto
<div class="container">
    {% for producto in productos %}
    <section class="page-section clearfix">
      <div class="container">
        <div class="intro">
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{producto.imagen.url}}" alt="" style="width: 60%;">
          <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4" >
              <span class="section-heading-lower">{{producto.nombre}}</span>
              <span class="section-heading-upper">{{producto.precio}}</span>
          </h2>
        </div>
      </div>
    </div>
  </section>


{%  endfor %} -->

