<html>

<head>

{% load static %}

<style>

  .desplegable-content {
    display: none;
    position: absolute;
    background-color: #f7fbf9;
  }

  .desplegable-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .desplegable:hover .desplegable-content {
    display: block;
  }

</style>

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- Bootstrap -->
    <link href="{% static 'proyectowebapp'%}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

     <!-- Fonts -->

     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
     
    <!-- Styles -->
    <link href="{% static 'proyectowebapp'%}/css/gestion.css" rel="stylesheet">
</head>


<body>

    <h1 class="site-heading text-center text-white d-none d-lg-block">

        <span class="site-heading-lower">Gestión de Pedidos</span>
      </h1>

<div style="color: white; text-align: right; margin-right: 100px;">&nbsp;
{% if user.is_authenticated %}
<i class="bi bi-person" style="font-size: 25px;"></i>{{user.username}}&nbsp;&nbsp;&nbsp;<a href="{% url 'cerrar_sesion' %}">Cerrar sesión <i class="bi bi-box-arrow-left" style="font-size: 25px;"></i></a>
{% else %}
<a href="{% url 'loguear' %}" style="border: solid 8px rgba(24, 64, 8); padding: 10px 20px; text-decoration: none; color: #fff; background-color: rgba(24, 64, 8); border-radius: 5px;">Login <i class="bi bi-box-arrow-in-right" style="font-size: 25px;"></i></a>
{% endif %}
</div>

<script>
  function temporizador(){
    var actual = new Date();
    var inicio = 8;
    var fin = 10;

    if (actual.getHours() >= inicio && actual.getHours() < fin){
      document.getElementById('special-menu').style.display = 'block';
      document.getElementById('special-otro').style.display = 'block';
    
    }

    else{
      document.getElementById('special-menu').style.display = 'none';
      document.getElementById('special-otro').style.display = 'none';
    
    }
  }
  window.onload = temporizador;
  setInterval(temporizador, 60000);


</script>






 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="{% url 'home'%}">Gestión de Pedidos</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li  class="nav-item {% if request.path == '/' %} active {% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'home'%}"> <i class="bi bi-house" style="font-size: 15px; color: white;"></i> Inicio</a>
          </li>
          <li id="special-otro" style="display: none;" class="nav-item {% if request.path == '/servicios/' %} active {% endif %} px-lg-4">
            <div class="desplegable">
              <a class="nav-link text-uppercase text-expanded" href="#"> <i class="bi bi-person-rolodex" style="font-size: 15px;color: white;"></i> Servicios</a>
              <div class="desplegable-content">
                <a href="{% url 'servicios' %}"><i class="bi bi-eye"></i> Mostrar</a>
                <a href="http://127.0.0.1:8000/admin/servicios/servicios/"> <i class="bi bi-folder-plus"></i> Agregar Servicios</a>
              </div>
            </div>
          </li>
          <li  id="special-menu" style="display: none;" class="nav-item {% if request.path == '/tienda/' %} active {% endif %} px-lg-4">
            <div class="desplegable">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Tienda'%}"> <i class="bi bi-shop" style="font-size:15px; color: white;"></i> Tienda</a>
            <div class="desplegable-content">
                  <a href="{% url 'listado' %}">listado</a>
            </div>
          </div>
          </li>

          <li class="nav-item {% if request.path == '/contacto/' %} active {% endif %} px-lg-4">
            <div class="desplegable">
              <a class="nav-link text-uppercase text-expanded" href="#"> <i class="bi bi-person-badge-fill" style="font-size: 15px; color: white;"></i> Contacto</a>
              <div class="desplegable-content">
                <a href="{% url 'mostrarcontacto' %}"> <i class="bi bi-eye"></i> Mostrar</a>
                <a href="{% url 'contacto' %}"> <i class="bi bi-envelope-arrow-up"></i> enviar correo</a>
                <a href="http://127.0.0.1:8000/admin/servicios/contacto/"> <i class="bi bi-person-add"></i> Agregar Contacto</a>
              </div>
            </div>
          </li>
          <li class="nav-item {% if request.path == '/blog/' %} active {% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'blog' %}"> <i class="bi bi-book" style="font-size: 15px;color: white;"></i> Blog</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  {% block content %}

  {% endblock %}

    <!-- Footer -->
    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0">
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	    </p>
        <p class="m-0 mbt" ">
        	<a href="sample.html" class="link" style="margin: 25px;"><i class="bi bi-facebook" style="font-size: 30px;color: blue ;" ></i>   Visitanos en facebook</a>
        	<a href="sample.html" class="link" style="margin: 25px;"><i class="bi bi-instagram" style="font-size: 30px; background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888); -webkit-background-clip: text; -webkit-text-fill-color: transparent;"></i>   instagram</a>
        	<a href="sample.html" class="link" style="margin: 25px;"><i class="bi bi-whatsapp" style="font-size: 30px; color: green;"></i>   whatsapp</a>
		    </p>
        <p class="m-0 mbt1">&copy; Gestión de Pedidos 2024</p>
      </div>
	</footer>

    <!-- Bootstrap -->
    <script src="{% static 'proyectowebapp'%}/vendor/jquery/jquery.min.js"></script>
    <script src="{static 'proyectowebapp'%}/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    
    <!-- configuracion de alerta con sweetalert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    {% if messages %}
      {% for mensaje in messages %}
        <script>
          Swal.fire({
            "title": "Felicitaciones",
            "text": "{{mensaje}}",
            "icon": "success"
          })
        </script>
      {% endfor %}

    {% endif %}
</body>


</html>